<%- include("templates/header") %>
    <div class="col-lg-6 col-xxl-4 my-5 mx-auto">
        <div class="d-grid gap-2">
            <a href="/login" class="btn btn-primary" role="button">Sign In</a>
            <a href="/createUser" class="btn btn-primary" role="button">Sign Up</a>
        </div>
    </div>
<%- include("templates/footer") %>